<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-xxl d-flex justify-content-between">
      <a class="d-inline-block navbar-brand" [routerLink]="['/']"
        >Angular for Beasts</a
      >
      <ul class="navbar-nav ms-3">
        <li class="nav-item me-2" *ngFor="let page of pages">
          <a
            class="nav-link"
            [routerLinkActive]="'active fw-bold'"
            [routerLink]="[page.path]"
            >{{ page.title }}</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
