<section class="text-start mt-2">
  <div class="row">
    <div
      class="col-12"
      [ngClass]="
        relatedItems && relatedItems.length > 0 ? 'col-md-9' : 'col-md-11'
      "
    >
      <h2 class="card-title">{{ title }}</h2>
      <p class="mb-5 w-75">{{ text }}</p>
      <ng-content></ng-content>
    </div>
    <div
      *ngIf="relatedItems && relatedItems.length > 0"
      class="col-12 col-md-3"
    >
      <h5 class="fw-bolder">Related</h5>
      <div class="list-group">
        <a
          *ngFor="let item of relatedItems"
          href="{{ item.url }}"
          target="_blank"
          class="list-group-item list-group-item-action"
        >
          {{ item.name }}
        </a>
      </div>
    </div>
  </div>
</section>
